ion-card {
    margin-bottom: 5px;
}

ion-card img {
    width: 15%;
    height: 15%;
}

ion-card-title {
    font-size: 1.2rem;
}

ion-card-subtitle {
    font-size: 1rem;
}

ion-card-content {
    font-size: 0.9rem;
}